{% extends 'base.html.twig' %}

{% block title %}Liste des fils{% endblock %}

{% block body %}
    <h1>Liste des fils</h1>
    <a class="btn btn-dark" href="{{ path('yarn_new') }}">Ajouter</a>
    {% if yarns %}
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Nom complet</th>
                <th>Action</th>
            </tr>
            </thead>
            <tbody>
            {% for yarn in yarns %}
                <tr>
                    <td>{{ yarn.name }}</td>
                    <td>
                        {{ include('yarn/_delete_form.html.twig') }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucun fil retrouvé</p>
    {% endif %}
{% endblock %}
