{% extends 'base.html.twig' %}

{% block title %}Nouveau fil{% endblock %}

{% block body %}
    <div class="p-5">
        <h1 class="text-center text-md-left">nouveau fil</h1>
        {{ include('yarn/_form.html.twig') }}
    </div>
{% endblock %}
