{% extends 'base.html.twig' %}

{% block title %}Nouveau fil{% endblock %}

{% block body %}
    <h1>Ajouter un fil</h1>

    {{ include('yarn/_form.html.twig') }}

    <a href="{{ path('yarn_index') }}">Retour</a>
{% endblock %}
