{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <form method="post" class="text-center align-items-center p-5 container-fluid">
        {% if error %}
            <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        <h1 class="h3 mb-3">Identification</h1>
        <div class="row py-3 justify-content-md-center">
                <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control col-md-4" required autofocus placeholder="Identifiant">
        </div>
        <div class="row py-3 justify-content-md-center">
                <input type="password" name="password" id="inputPassword" class="form-control col-md-4" required placeholder="Mot de passe">
        </div>
        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
        Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
        See https://symfony.com/doc/current/security/remember_me.html

        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="_remember_me"> Remember me
            </label>
        </div>
        #}

        <button class="btn btn-outline-primary mt-3" type="submit">
            Connexion
        </button>
    </form>
{% endblock %}
