{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div class="m-5">
    <h2 class="text-center text-uppercase font-weight-bold">derniers patrons</h2>
    <div class="py-5">
    <div class="container-fluid">
    {% if latestPatterns %}
        <div class="row hidden-md-up">
            {% for pattern in latestPatterns %}
                <div class="col-md-4 col-lg-3">
                    <div class="card text-center border-light bg-transparent">
                        <div class="card-body">
                            <h5 class="card-title">{{ pattern.category.name }} {{ pattern.name }}</h5>
                            <a href="{{ path('pattern_show', {'id': pattern.id}) }}">
                                {% for image in pattern.images %}
                                    {% if loop.first %}
                                        <img src="{{ asset('/uploads/images/' ~ image.name) }}"
                                             class="d-block w-100 rounded-lg"
                                             alt="#">
                                    {% endif %}
                                {% endfor %}
                            </a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        </div>
        </div>
    {% else %}
        <p>Aucun patron retrouvé</p>
    {% endif %}
{% endblock %}