{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="p-5">
    <h1 class="text-center text-md-left">nouvelle catégorie</h1>
    {{ include('category/_form.html.twig') }}
    </div>
{% endblock %}
