{% extends 'base.html.twig' %}

{% block title %}New Pattern{% endblock %}

{% block body %}
    <h1>Create new Pattern</h1>

    {{ include('pattern/_form.html.twig') }}

    <a href="{{ path('pattern_index') }}">back to list</a>
{% endblock %}
