{% extends 'base.html.twig' %}

{% block title %}Nouveau patron{% endblock %}

{% block body %}
    <h1 class="text-center mt-5">nouveau patron</h1>

    {{ include('pattern/_form.html.twig') }}

{% endblock %}
