<footer class="footer fixed-bottom bg-light py-3">
<div class="container text-center">
    © 2021 Copyright:
    <a href=" https://www.instagram.com/newsfrommycouch/">newsfrommycouch <img src="{{ asset('uploads/icons/instagram.png') }}" alt="instagram_icon" width="25"></a>
</div>
</footer>